*.pc
*.swp
*bak
*orig
*rej
/Makefile.in
BUILD-env.sh
Makefile
aclocal.m4
autom4te.cache/
compile
confdefs.h
config.*
configure
/debian
depcomp
doc/*.bak
install-sh
libtool
ltmain.sh
missing
netifyd-*.tar.gz
netifyd-*.txz
netifyd-CentOS_8.spec
stamp-h1
test-driver
ylwrap
